# how to connect from python to mysql

In [4]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", password="624234", use_pure=True) #give the information
    print(mydb.is_connected())
    mydb.close() #always need to close

except Exception as e:
    print(str(e))

True

# Check the database (how many databases we have)

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", password="624234", use_pure=True) #give the information
    
    query = "SHOW DATABASES"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)

    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

# how to create database in mysql?

In [7]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", password="624234", use_pure=True) #give the information
    print(mydb.is_connected())

    query = "Create database MyStudent;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)

    print("Database Created!")
    mydb.close()

    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!
[]

# how to create table in database?

In [9]:
import mysql.connector as connection

try:
    mydb = connection.connect(
        host="localhost", 
        database = "MyStudent",  #define the database
        user="root", 
        password="624234", 
        use_pure=True) 
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY, FirstName VARCHAR(60)," \
    "LastName VARCHAR(60), RegistrationDate DATE, Class VARCHAR(20), Section VARCHAR(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)

    print("Table Created!")
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!

# how to insert data in table?

In [10]:
import mysql.connector as connection

try:
    mydb = connection.connect(
        host="localhost", 
        database = "MyStudent",  #define the database
        user="root", 
        password="624234", 
        use_pure=True) 
    print(mydb.is_connected())

    query = "INSERT INTO StudentDetails VALUES ('1232', 'Mehedi', 'Hassan', '2003-04-05', '3rd', 'A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)

    print("Value Inserted into the table!")
    mydb.commit()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
Value Inserted into the table!

# how to inseert (huge) data in table?

In [ ]:
import csv

import mysql.connector as connection

try:
    mydb = connection.connect(
        host="localhost", 
        user="root", 
        password="624234", 
        use_pure=True) #give the information
    print(mydb.is_connected())

    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(
        host="localhost", 
        database="GlassData",
        user="root", 
        password="624234", 
        use_pure=True #give the information
    )

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10), RI float(10,5), Na float(10,5), Mg float(10,5)," \
            "Al float(10,5), Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created!")

    #read from the file
    with open("glass.data", "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute("INSERT INTO GlassData values ({values})".format(values=(list_)))
    print("Values Inserted!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!
Table Created!
1136 (21S01): Column count doesn't match value count at row 1