In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [8]:
for i in "Mehedi":
    print(i)

M
e
h
e
d
i

In [7]:
for i in "Mehedi":
    print(i, end=" ")

M e h e d i

In [10]:
for i in range(1, 5):
    for j in range(1, 5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [11]:
row = int(input("Enter the number of rows"))

for i in range(1, row + 1):
    for j in range(1, i + 1):
        print("*", end=" ")

    print()

*
* *
* * *
* * * *
* * * * *

# Loop control statements
break,
continue.
pass

In [12]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [14]:
name = ["Mehedi", "Hasan", "Rony", "Khan"]

for i in name:
    if i == "Rony":
        print(i)
        break

Rony

In [15]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1, 11):
    pass