# Creating sets

In [1]:
s = set()
print(type(s))  # <class 'set'>

<class 'set'>

In [ ]:
s1 = {1, 2, 3, 4, 5} 
print(s1)  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [3]:
s1 = {1, 2, 3, 4, 5}
s2 = {5, 4, 3, 2, 1}

s1 == s2  # True, because sets are unordered collections

True

In [ ]:
#set is hetro
s3 = {1, "Hello", 3.14, (1,2,3)}
print(s3)

{1, 3.14, 'Hello', (1, 2, 3)}

In [5]:
# using type conversion
s4 = set([1, 2, 3, 4, 5])
print(s4)  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [6]:
# duplicate elements are automatically removed
s5 = {1, 2, 2, 3, 4, 4, 5}
print(s5)  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [7]:
# sets can't have mutable elements like lists or dictionaries
s6 = {1, 2, [3, 4]}  # This will raise a TypeError
print(s6)

TypeError: unhashable type: 'list'

# Accessing items

In [8]:
s1 = {1, 2, 3, 4, 5}
s1[0]  # This will raise a TypeError because sets are unordered and do not support indexing

TypeError: 'set' object is not subscriptable

In [ ]:
# Adding items
s = {1, 2, 3}
s.add(4)
print(s)  # Output: {1, 2, 3, 4}

s.update([5, 6], {7, 8}) # Adding multiple items
print(s)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Type casting
s = {1, 2, 3}
lst = list(s)
print(lst)  # Output: [1, 2, 3]

[1, 2, 3]

In [14]:
# Deleting items
s = {1, 2, 3, 4, 5}
s.remove(3)  # Removes 3 from the set
print(s)  # Output: {1, 2, 4, 5}

s.discard(4)  # Removes 4 from the set
print(s)  # Output: {1, 2, 5}

s.pop()  # Removes and returns an arbitrary element from the set
print(s)  # Output could be {2, 5} or {1, 5} or {1, 2} depending on which element was popped

s.clear()  # Removes all elements from the set
print(s)  # Output: set()

{1, 2, 4, 5}
{1, 2, 5}
{2, 5}
set()

# Sets operation

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

u = s1 | s2  # Union: {1, 2, 3, 4, 5, 6, 7, 8}
i = s1 & s2  # Intersection: {4, 5}
d = s1 - s2  # Difference: {1, 2, 3}
sym = s1 ^ s2  # Symmetric Difference: {1, 2, 3, 6, 7, 8}

print("Union:", u)
print("Intersection:", i)  
print("Difference:", d)
print("Symmetric Difference:", sym)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [27]:
#Another way of set operations
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s_union = s1.union(s2)
print(s_union)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

s_intersection = s1.intersection(s2)
print(s_intersection)  # Output: {4, 5}

s_difference = s1.difference(s2)
print(s_difference)  # Output: {1, 2, 3}

s_symmetric_difference = s1.symmetric_difference(s2)
print(s_symmetric_difference)  # Output: {1, 2, 3, 6, 7, 8}

s1.update(s2)
print(s1)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

s2.update(s1)
print(s2)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

s2.issubset(s1)  # True
s2.issubset(s1)  # True

s1.issuperset(s2)  # True
s1.issuperset(s2)  # True

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

True

In [26]:
# Copying a set
s1 = {1, 2, 3, 4, 5}
s2 = s1.copy()
print(s2)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

# Membership operation

In [19]:
s1 = {1, 2, 3, 4, 5}
1 not in s1  # False
6 in s1      # False
3 in s1      # True

True

# Iteration

In [20]:
s1 = {1, 2, 3, 4, 5}

for i in s1:
    print(i)

1
2
3
4
5

# Sets Method

In [21]:
s = {1, 2, 3, 4, 5}

print(len(s))  # Output: 5
print(max(s))  # Output: 5
print(min(s))  # Output: 1 
print(sum(s))  # Output: 15
print(sorted(s))  # Output: [1, 2, 3, 4, 5]
print(sorted(s, reverse=True))  # Output: [5, 4, 3, 2, 1]

5
5
1
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

# Frozenset

In [29]:
fs1 = frozenset([1, 2, 3, 4, 5])
fs2 = frozenset([4, 5, 6, 7, 8])

print(fs1)  # Output: frozenset({1, 2, 3, 4, 5})
print(fs2)  # Output: frozenset({4, 5, 6, 7, 8})

# Frozenset operations
u = fs1 | fs2  # Union: frozenset({1, 2, 3, 4, 5, 6, 7, 8})
i = fs1 & fs2  # Intersection: frozenset({4, 5})
d = fs1 - fs2  # Difference: frozenset({1, 2, 3})
sym = fs1 ^ fs2  # Symmetric Difference: frozenset({1, 2, 3, 6, 7, 8})

print("Union:", u)
print("Intersection:", i)   
print("Difference:", d)
print("Symmetric Difference:", sym)

frozenset({1, 2, 3, 4, 5})
frozenset({4, 5, 6, 7, 8})
Union: frozenset({1, 2, 3, 4, 5, 6, 7, 8})
Intersection: frozenset({4, 5})
Difference: frozenset({1, 2, 3})
Symmetric Difference: frozenset({1, 2, 3, 6, 7, 8})

In [30]:
# 2D frozenset
fs = frozenset([1, 2, frozenset([3, 4])])
print(fs)  # Output: frozenset({1, 2, frozenset({3, 4})})

frozenset({frozenset({3, 4}), 1, 2})

# Set comprehension

In [32]:
sc = {i for i in range(1, 11)}
print(sc)  # Output: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

sc2 = {i**2 for i in range(1, 11) if i>5}
print(sc2)  # Output: {36, 49, 64, 81, 100}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{64, 36, 100, 49, 81}