In [1]:
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [ ]:
# Creating a single-element tuple
t2 = ("Mehedi")
print(t2)
print(type(t2))

Mehedi
<class 'str'>

In [ ]:
# Correct way to create a single-element tuple
t2 = ("Mehedi",)
print(t2)
print(type(t2))

('Mehedi',)
<class 'tuple'>

In [5]:
#homo
t3 = (1, 2, 3, 4, 5)
print(t3)

#hetero
t4 = (1, "Mehedi", 3.5, True, [1, 2, 3])
print(t4)

#nested tuple
t5 = (1, 2, 3, (4, 5))
print(t5)

#using type conversion
t6 = tuple("Hello")
print(t6)

(1, 2, 3, 4, 5)
(1, 'Mehedi', 3.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('H', 'e', 'l', 'l', 'o')

# Accessing Items
* Indexing
* Slicing

In [9]:
t3 = (1, 2, 3, 4, 5)
print(t3[0])  # First element
print(t3[2])  # Third element
print(t3[-2]) # Second last element
print(t3[1:4]) # Slicing from index 1 to 3
print(t3[::2]) # Every second element

1
3
4
(2, 3, 4)
(1, 3, 5)

# Editing items / Deleting items

In [10]:
t3 = (1, 2, 3, 4, 5)
t3[0] = 10  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [11]:
del t3[0]  # This will also raise a TypeError

TypeError: 'tuple' object doesn't support item deletion

# Type casting

In [12]:
t3 = (1, 2, 3, 4, 5)
temp = list(t3)  # Convert to list
print(temp)

[1, 2, 3, 4, 5]

In [14]:
temp.append(200)
t3 = tuple(temp)  # Convert back to tuple
print(t3)

(1, 2, 3, 4, 5, 200)

In [13]:
L = [2, 3, 4, 5]
L = tuple(L)  # Convert list to tuple
print(L)

(2, 3, 4, 5)

# Tuples operations
    * Arithmatic
    * Membership
    * Loop

In [18]:
# Arithmetic operations
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2 # Concatenation
print(t3)

t1 * 4  # Repetition
print(t1 * 4)

# Membership
t3 = (1, 2, 3, 4, 5)
print(3 in t3)  # True
print(10 not in t3)  # True

# Looping through a tuple
t3 = (1, 2, 3, 4, 5)
for item in t3:
    print(item)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
True
True
1
2
3
4
5

# Tuples method/function
* Len
* Min
* Max
* sorted
* sum

In [19]:
t = (1, 2, 3, 4, 5)
print(len(t))  # Length of the tuple    
print(min(t))  # Minimum element
print(max(t))  # Maximum element
print(sorted(t))  # Sorted list of the tuple elements
print(sum(t))  # Sum of the elements
print(sorted(t, reverse=True))  # Sorted in descending order

5
1
5
[1, 2, 3, 4, 5]
15
[5, 4, 3, 2, 1]

In [2]:
# count
t = (1, 2, 3, 2, 4, 2, 5)
print(t.count(2))  # Count of 2 in the tuple

# index
t = (1, 2, 3, 4, 5)
print(t.index(3))  # Index of first occurrence of 3

3
2

# Difference between Lists and tuples
* Syntax
* Mutability
* Speed
* Memory
* Built in functionality
* Error prone
* Usability

In [ ]:
import sys #sys mean system

L = list(range(1000))
T = tuple(range(1000))

print("List size:", sys.getsizeof(L), "bytes")
print("Tuple size:", sys.getsizeof(T), "bytes")

List size: 8056 bytes
Tuple size: 8040 bytes

In [2]:
a = [1, 2, 3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [3]:
a = (1, 2, 3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

# Tuple unpacking

In [4]:
a, b, c = (1, 2, 3)

print(a, b, c)

1 2 3

In [6]:
a, b, *others = (1, 2, 3, 4, 5, 6)
print(a, b)
print(others)

1 2
[3, 4, 5, 6]

In [7]:
# zip tuples
a = (1, 2, 3)
b = (4, 5, 6)

zipped = zip(a, b)
print(tuple(zipped))

((1, 4), (2, 5), (3, 6))

# Tuple comprehension

In [9]:
# Add 1 to 10 numbers to a list
L = []
for i in range(1, 11):
    L.append(i)
print(L)

# Using tuple comprehension (using generator expression)
T = tuple(i for i in range(1, 11))
print(T)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
# Scalar multiplication on a vector
v = [1, 2, 3]
s = -3

L = []

for i in v:
    result = i * s
    L.append(result)
print(L)

# Using tuple comprehension
T = tuple(i * s for i in v)
print(T)

[-3, -6, -9]
(-3, -6, -9)