# Create dictionary

In [1]:
# empty dictionary
d = {}
print(type(d))  # Output: <class 'dict'>

<class 'dict'>

In [2]:
# 1D dictionary
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
print(d1)  # Output: {'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}

{'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}

In [3]:
# With mixed keys
d2 = {"name" : "Mehedi", 1 : "one", (2, 3) : "tuple key"}
print(d2)  # Output: {'name': 'Mehedi', 1: 'one', (2, 3): 'tuple key'}

{'name': 'Mehedi', 1: 'one', (2, 3): 'tuple key'}

In [4]:
#2D dictionary
d3 = {
    "person1": {"name": "Mehedi", "age": 25},
    "person2": {"name": "Alice", "age": 30}
}
print(d3)  # Output: {'person1': {'name': 'Mehedi', 'age': 25}, 'person2': {'name': 'Alice', 'age': 30}}

{'person1': {'name': 'Mehedi', 'age': 25}, 'person2': {'name': 'Alice', 'age': 30}}

In [5]:
# using sequence and dict function
d4 = dict([('name', 'Mehedi'), ('age', 25), ('city', 'Dhaka')])
print(d4)  # Output: {'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}

{'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}

In [6]:
# Duplicate keys - last one prevails
d5 = {"name": "Mehedi", "age": 25, "name": "Alice"}
print(d5)  # Output: {'name': 'Alice', 'age': 25}

{'name': 'Alice', 'age': 25}

# Accessing items

In [7]:
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
print(d1["name"])  # Output: Mehedi
print(d1["age"])   # Output: 25
print(d1["city"])  # Output: Dhaka

Mehedi
25
Dhaka

In [8]:
d3 = {
    "name": "Mehedi",
    "college_name": "ABC University",
    "semester": 5,
    "subjects": {"DSA" : 80, "Python": 90, "ML": 85}
}

d4 = d3["subjects"]["Python"]  # Output: 90
print(d4)

90

# Adding key-value pair

In [10]:
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
print(d1)  # Output: {'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}

d1["country"] = "Bangladesh"
print(d1)  # Output: {'name': 'Mehedi', 'age': 25, 'city': 'Dhaka', 'country': 'Bangladesh'}

{'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}
{'name': 'Mehedi', 'age': 25, 'city': 'Dhaka', 'country': 'Bangladesh'}

In [12]:
d3 = {
    "name": "Mehedi",
    "college_name": "ABC University",
    "semester": 5,
    "subjects": {"DSA" : 80, "Python": 90, "ML": 85}
}

d3["subjects"]["Math"] = 80  # Adding new subject
print(d3)
# Output: {'name': 'Mehedi', 'college_name': 'ABC University', 'semester': 5, 'subjects': {'DSA': 80, 'Python': 90, 'ML': 85, 'Math': 80}}

{'name': 'Mehedi', 'college_name': 'ABC University', 'semester': 5, 'subjects': {'DSA': 80, 'Python': 90, 'ML': 85, 'Math': 80}}

# Editing key-value pair

In [13]:
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
print(d1)  # Output: {'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}

d1["name"] = "Alice"
print(d1)  # Output: {'name': 'Alice', 'age': 25, 'city': 'Dhaka'}

{'name': 'Mehedi', 'age': 25, 'city': 'Dhaka'}
{'name': 'Alice', 'age': 25, 'city': 'Dhaka'}

# Remove key value pair

In [15]:
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}

#pop method
d1.pop("age")
print(d1)  # Output: {'name': 'Mehedi', 'city': 'Dhaka'}

#pop item method
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
d1.popitem()
print(d1)  # Output: {'name': 'Mehedi'}

#del keyword
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
del d1["name"]
print(d1)  # Output: {}

#clear method
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
d1 = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
d1.clear()
print(d1)  # Output: {}

{'name': 'Mehedi', 'city': 'Dhaka'}
{'name': 'Mehedi', 'age': 25}
{'age': 25, 'city': 'Dhaka'}
{}

# Dictionary operation
* Membership
* Iteration

In [16]:
d = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
# Membership
print("name" in d)  # Output: True
print("country" in d)  # Output: False

# Iteration
for key in d:
    print(f"{key}: {d[key]}")

True
False
name: Mehedi
age: 25
city: Dhaka

# Dictionary methods/function

In [20]:
d = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}

print(len(d))  # Output: 3
print(max(d))  # Output: name
print(min(d))  # Output: age
print(sorted(d))  # Output: ['age', 'city', 'name']
print(sorted(d, reverse=True))  # Output: ['name', 'city', 'age']

3
name
age
['age', 'city', 'name']
['name', 'city', 'age']

# Items/keys/values

In [23]:
d = {"name" : "Mehedi", "age" : 25, "city" : "Dhaka"}
print(d.items())  # Output: dict_items([('name', 'Mehedi'), ('age', 25), ('city', 'Dhaka')])
print(d.keys())  # Output: dict_keys(['name', 'age', 'city'])
print(d.values())  # Output: dict_values(['Mehedi', 25, 'Dhaka'])

dict_items([('name', 'Mehedi'), ('age', 25), ('city', 'Dhaka')])
dict_keys(['name', 'age', 'city'])
dict_values(['Mehedi', 25, 'Dhaka'])

In [24]:
d1 = {1:2, 2:3, 3:4}
d2 = {4:5, 5:6, 6:7}

d1.update(d2)
print(d1)  # Output: {1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7}

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7}

# Dictionary Comprehension

In [ ]:
{i : i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [28]:
products = {"Phone" : 10, "Laptop" : 0, "Tablet" : 7, "Charger" : 15}

{key : value for (key, value) in products.items() if value > 0}

{'Phone': 10, 'Tablet': 7, 'Charger': 15}

In [29]:
# using zip
days = ["Sunday", "Monday", "Tuesday", "Wednessday", "Thursday", "Friday", "Saturday"]
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]

{i:j for (i,j) in zip (days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednessday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}