In [1]:
import pandas as pd

In [ ]:
#[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

# Convert DataFrame

In [ ]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

# define column name

In [9]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["c1","c2","c3"]) 
print(df)

   c1  c2  c3
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

# define index name

In [12]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["c1","c2","c3"], index=["r1","r2","r3","r4"]) 
print(df)

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9
r4  10  11  12

# first 4-5 row show :

In [13]:
df.head()

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9
r4  10  11  12

In [14]:
df.head(2)

    c1  c2  c3
r1   1   2   3
r2   4   5   6

# last 4-5 row show :

In [15]:
df.tail()

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9
r4  10  11  12

In [16]:
df.tail(2)

    c1  c2  c3
r3   7   8   9
r4  10  11  12

# column count/show

In [18]:
df.columns

Index(['c1', 'c2', 'c3'], dtype='object')

In [ ]:
df.columns.to_list() #as a list

['c1', 'c2', 'c3']

# index count/show

In [20]:
df.index

Index(['r1', 'r2', 'r3', 'r4'], dtype='object')

In [21]:
df.index.to_list()

['r1', 'r2', 'r3', 'r4']

# how to know about the data information?

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, r1 to r4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      4 non-null      int64
 1   c2      4 non-null      int64
 2   c3      4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [ ]:
df.describe() #statistical analysis

              c1         c2         c3
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

# unique value

In [24]:
df.nunique()

c1    4
c2    4
c3    4
dtype: int64

In [25]:
df["c2"].nunique()

4

In [26]:
df["c1"].unique()

array([ 1,  4,  7, 10])

# how many row and column in dataframe

In [28]:
df.shape

(4, 3)

# how many value in dataframe

In [29]:
df.size

12

# Loading in datafreames from files

## csv

In [33]:
coffee = pd.read_csv("warmup data/coffee.csv")
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [34]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [35]:
coffee.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

## parquet data

In [37]:
pd.read_parquet("data/results.parquet")

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.